<% if params[:store].present? %>
  <%# render breadcumb %>
  <div class="row">
    <div class="col-md-12">
      <h3>
        <%= link_to 'Loja', '/' %> > <%= @breadcamp.name %> > Produtos
      </h3>
    </div>
  </div>

  <% if @object.count > 0  %>

  <%# render form search %>
  <%= render :partial => 'rails_admin/main/dashboard/search' %>

<%# render collection of the products %>
  <div class="row">
    <% @object.each do |product| %>
      <%= render :partial => 'rails_admin/main/dashboard/product', :locals => {product: product} %>
    <% end %>
  </div>

  <% else %>

  <%# render no data found %>
  <div class="col-12">
    <p>Nenhum Produto </p>
    <% if params[:store] && params[:search] %>
      <%= link_to "voltar", "/?store=#{@breadcamp._id}" %>
    <% end %>
  </div>

  <% end %>

<%# render pagination %>
<div class="col-12">
  <%= paginate(@object) %>
</div>

<% else %>
  <%# render collection of the stores %>
  <div class="row" style="float:left;">
      <h2 style="margin-left: 10px;">Lojas</h2>
      <% @object.each do |store| %>
        <%= render :partial => 'rails_admin/main/dashboard/store', :locals => {store: store} %>
      <% end %>
  </div>
<% end %>